<head>
	<meta charset="utf-8">
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<link href="//gmpg.org/xfn/11" rel="profile">
	
	{% if page.article %}
	<link rel="canonical" href="{{ canonical }}" />
	<meta name="description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	
	<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta itemprop="image" content="{% if page.cover.image %}{{ site.cover.image }}{{ page.cover.image }}{% else %}{{ site.url }}{{ site.icon }}{% endif %}" />
	<meta property="og:image" content="{% if page.cover.image %}{{ site.url }}{{ page.cover.image }}{% else %}{{ site.url }}{{ site.icon }}{% endif %}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:title" content="{{ page.title }}" />
	<meta property="twitter:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	{% if page.cover.icon %}<meta property="twitter:image" content="{{ site.url }}{{ page.cover.icon }}" />{% endif %}
	{% endif %}
	
	<title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link rel="author" href="{{ site.author.url }}">

	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{{ site.assets_url }}/assets/css/default.css" />
	<link rel="stylesheet" media="only screen and (min-width: 900px)" href="{{ site.assets_url }}/assets/css/desktop.css" />
	<link rel="stylesheet" media="only screen and (max-width: 899px)" href="{{ site.assets_url }}/assets/css/mobile.css" />
	<link rel="stylesheet" href="{{ site.assets_url }}/assets/css/syntax.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix:400,400italic">

	<link rel="apple-touch-icon" href="{{ site.assets_url }}{{ site.icon }}">
	<link rel="shortcut icon" href="{{ site.assets_url }}/assets/images/favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/atom.xml">
</head>
