<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{{ content }}
		<link rel="stylesheet" href="{{ site.assets_url }}/assets/css/syntax.css" />
		<link rel="stylesheet" href="{{ site.assets_url }}/assets/css/genericons.css" />
		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" />
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
		<script>
			$(function() {
				setTimeout(function() {
					$("body").addClass("transitions");
				}, 10);
				var width = $(window).width()
				if (width > 899) $.stellar({
					horizontalScrolling: false,
					verticalScrolling: true,
					horizontalOffset: 0,
					verticalOffset: 0,
					positionProperty: 'transform',
					responsive: true
				});
				else $("body > header, body > footer").each(function () {
					var e = $(this);
					e.height(e.height());
				});
			});
		</script>
		{{ layout.scripts }}{{ page.scripts }}
	</body>
</html>
